# Local data
data/

# Generated output
output/

# Temporary files
temp/

# R session files
.Rhistory
.RData
.Ruserdata
Binary_EP_MCPModGeneral_Package.qmd		
Sample_size_Binary_DoseFinding_package.qmd
ClinDR_R_package.qmd				
Sample_size_MCPMODPack_SS.R
DoseFinding_package_test.qmd			
Vignette_DoseFinding_Continuous.qmd
biomarkers_samplesize.qmd
MAGLI_Ph2_CDP_sample_size.qmd			
MAGLi_Ph2_TSPO_sample_size.qmd			
ocre_misc_1.qmd
MCPMpdGeneral_package_binary_ep_example.qmd	
ph2_proptest.qmd
Ph2_PosMCP_Mod_package.qmd			
ssize_other.qmd